In [249]:
import pandas as pd
import numpy as np

# Data Processing

In [243]:
df_hospital_org = pd.read_csv('/Users/jessie/Desktop/summer_project/Definitive_Healthcare%3A_USA_Hospital_Beds.csv', usecols = ['COUNTY_NAME', 'STATE_NAME', 'NUM_LICENSED_BEDS', 'NUM_STAFFED_BEDS', 'AVG_VENTILATOR_USAGE'])
df_social_mobility_org = pd.read_csv('/Users/jessie/Desktop/summer_project/social_mobility_data(up_to_date)/County.csv', usecols = ['CTNAME', 'STFIPS', 'date', 'Social distancing index', 'New cases/1000 people', 'Population density', '% people older than 60', 'COVID death rate'])
df_COVID19_org = pd.read_csv('/Users/jessie/Documents/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv', usecols = ['Admin2', 'Lat', 'Long_', 'Province_State', '6/17/20', '6/18/20', '6/19/20', '6/20/20', '6/21/20', '6/22/20', '6/23/20', '6/24/20', '6/25/20', '6/26/20'])
df_state_fips = pd.read_csv('/Users/jessie/Desktop/summer_project/social_mobility_data(up_to_date)/fips-states.csv', usecols = ['state_name', 'fips'])

In [194]:
print(df_hospital_org.shape)
df_hospital_org.head()

(6622, 5)

,COUNTY_NAME,STATE_NAME,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,AVG_VENTILATOR_USAGE
0,Maricopa,Arizona,62.0,62.0,0.0
1,Pima,Arizona,295.0,295.0,2.0
2,Fresno,California,54.0,54.0,2.0
3,New Haven,Connecticut,216.0,216.0,2.0
4,New Castle,Delaware,62.0,62.0,1.0

In [195]:
print(df_social_mobility_org.shape)
df_social_mobility_org.head()

(559276, 8)

,CTNAME,STFIPS,Social distancing index,date,% people older than 60,Population density,COVID death rate,New cases/1000 people
0,Autauga County,1,54,01/01/2020,19,91,0.0,0.0
1,Autauga County,1,25,01/02/2020,19,91,0.0,0.0
2,Autauga County,1,15,01/03/2020,19,91,0.0,0.0
3,Autauga County,1,33,01/04/2020,19,91,0.0,0.0
4,Autauga County,1,40,01/05/2020,19,91,0.0,0.0

In [244]:
print(df_COVID19_org.shape)
df_COVID19_org.head()

(3261, 14)

,Admin2,Province_State,Lat,Long_,6/17/20,6/18/20,6/19/20,6/20/20,6/21/20,6/22/20,6/23/20,6/24/20,6/25/20,6/26/20
0,NaN,American Samoa,-14.2710,-170.1320,0,0,0,0,0,0,0,0,0,0
1,NaN,Guam,13.4443,144.7937,188,192,200,222,222,222,225,226,231,247
2,NaN,Northern Mariana Islands,15.0979,145.6739,30,30,30,30,30,30,30,30,30,30
3,NaN,Puerto Rico,18.2208,-66.5901,6003,6111,6195,6463,6525,6564,6685,6820,6877,6922
4,NaN,Virgin Islands,18.3358,-64.8963,73,73,73,73,76,76,76,76,80,81

In [200]:
print(df_state_fips.shape)
df_state_fips.head()

(51, 2)

   state_name  fips
0     Alabama     1
1      Alaska     2
2     Arizona     4
3    Arkansas     5
4  California     6

In [197]:
print(df_hospital_org.isnull().sum())
df_hospital = df_hospital_org.dropna()

COUNTY_NAME              28
STATE_NAME               28
NUM_LICENSED_BEDS       150
NUM_STAFFED_BEDS        238
AVG_VENTILATOR_USAGE     71
dtype: int64

In [198]:
print(df_social_mobility_org.isnull().sum())
df_social_mobility = df_social_mobility_org.dropna()

CTNAME                     0
STFIPS                     0
Social distancing index    0
date                       0
% people older than 60     0
Population density         0
COVID death rate           0
New cases/1000 people      0
dtype: int64

In [199]:
print(df_COVID19_org.isnull().sum())
df_COVID19 = df_COVID19_org.dropna()

Admin2            7
Province_State    0
Lat               0
Long_             0
5/24/20           0
5/25/20           0
5/26/20           0
dtype: int64

In [205]:
print(df_hospital.dtypes)
print(df_hospital.describe())

df_hospital['COUNTY'] = df_hospital['COUNTY_NAME'] + str(',') + df_hospital["STATE_NAME"]
df_hospital_group = df_hospital.groupby(by = 'COUNTY').agg('sum').reset_index()

df_hospital_group.drop(df_hospital_group.loc[(df_hospital_group['NUM_STAFFED_BEDS']/ df_hospital_group['NUM_LICENSED_BEDS'] <= 0.1) 
                                             & (df_hospital_group['NUM_STAFFED_BEDS'] <= 10)].index, inplace = True)
print(len(df_hospital_group))
df_hospital_group.head()

COUNTY_NAME              object
STATE_NAME               object
NUM_LICENSED_BEDS       float64
NUM_STAFFED_BEDS        float64
AVG_VENTILATOR_USAGE    float64
COUNTY                   object
dtype: object
       NUM_LICENSED_BEDS  NUM_STAFFED_BEDS  AVG_VENTILATOR_USAGE
count        6356.000000       6356.000000           6356.000000
mean          150.487256        128.924638              3.650409
std           183.131072        160.582287              5.517830
min             1.000000          1.000000              0.000000
25%            26.000000         25.000000              0.000000
50%            79.000000         66.000000              2.000000
75%           200.000000        168.000000              4.000000
max          2059.000000       2753.000000             61.000000
2491

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,COUNTY,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,AVG_VENTILATOR_USAGE
0,"Abbeville,South Carolina",25.0,25.0,2.0
1,"Acadia,Louisiana",170.0,144.0,3.0
2,"Accomack,Virginia",52.0,46.0,3.0
3,"Ada,Idaho",1311.0,1240.0,24.0
4,"Adair,Iowa",25.0,25.0,0.0

In [240]:
df_social_mobility['CTNAME'] = df_social_mobility['CTNAME'].apply(lambda x: x.replace(str(' County'), ''))
df_social_mobility_merge = pd.merge(df_social_mobility, df_state_fips, left_on = 'STFIPS', right_on = 'fips')
df_social_mobility_merge['COUNTY'] = df_social_mobility_merge['CTNAME'] + str(',') + df_social_mobility_merge['state_name']
df_social_mobility_group = df_social_mobility_merge.groupby(by = 'date')
#print(df_social_mobility_group.size())
df_social_mobility_current = df_social_mobility_group.get_group('06/22/2020')

print(df_social_mobility_current.dtypes)
print(df_social_mobility_current.describe())
#df_social_mobility_current['Population density'].plot.hist()

#df_social_mobility_current.loc[df_social_mobility_current['Population density'] == 0]
#len(df_social_mobility_group.get_group('01/01/2020')['COUNTY'].unique())

CTNAME                      object
STFIPS                       int64
Social distancing index      int64
date                        object
% people older than 60       int64
Population density           int64
COVID death rate           float64
New cases/1000 people      float64
state_name                  object
fips                         int64
COUNTY                      object
dtype: object
            STFIPS  Social distancing index  % people older than 60  \
count  3142.000000              3142.000000             3142.000000
mean     30.280076                26.501910               25.272120
std      15.144339                 8.255963                5.646104
min       1.000000                 0.000000                6.000000
25%      18.000000                21.000000               22.000000
50%      29.000000                25.000000               25.000000
75%      45.000000                31.000000               28.000000
max      56.000000                82.000000               65.000000

       Population density  COVID death rate  New cases/1000 people  \
count         3142.000000       3142.000000            3142.000000
mean           224.436665          1.689978               0.062344
std           1270.466648          0.904524               0.141120
min              0.000000          0.500000               0.000000
25%             16.000000          1.000000               0.000000
50%             43.000000          1.490000               0.024500
75%            109.000000          2.140000               0.072375
max          48341.000000          4.630000               3.742100

              fips
count  3142.000000
mean     30.280076
std      15.144339
min       1.000000
25%      18.000000
50%      29.000000
75%      45.000000
max      56.000000

In [248]:
print(df_COVID19_org.dtypes)
print(df_COVID19_org.describe())

Admin2             object
Province_State     object
Lat               float64
Long_             float64
6/17/20             int64
6/18/20             int64
6/19/20             int64
6/20/20             int64
6/21/20             int64
6/22/20             int64
6/23/20             int64
6/24/20             int64
6/25/20             int64
6/26/20             int64
dtype: object
               Lat        Long_        6/17/20        6/18/20        6/19/20  \
count  3261.000000  3261.000000    3261.000000    3261.000000    3261.000000
mean     37.165903   -89.160375     663.382398     671.910150     681.563631
std       8.662455    21.547038    4737.905230    4758.277327    4783.424230
min     -14.271000  -170.132000       0.000000       0.000000       0.000000
25%      34.237321   -98.066628      11.000000      11.000000      11.000000
50%      38.149014   -89.827411      52.000000      53.000000      54.000000
75%      41.683301   -82.793570     238.000000     243.000000     247.000000
max      69.314792   145.673900  210941.000000  211260.000000  211670.000000

             6/20/20        6/21/20        6/22/20        6/23/20  \
count    3261.000000    3261.000000    3261.000000    3261.000000
mean      691.605949     699.713585     709.077584     719.868445
std      4813.111989    4838.407587    4869.764093    4903.613065
min         0.000000       0.000000       0.000000       0.000000
25%        12.000000      12.000000      12.000000      13.000000
50%        55.000000      56.000000      58.000000      60.000000
75%       253.000000     258.000000     265.000000     269.000000
max    212061.000000  212446.000000  212741.000000  213056.000000

             6/24/20        6/25/20        6/26/20
count    3261.000000    3261.000000    3261.000000
mean      730.581417     742.808648     756.686293
std      4928.061564    4961.281638    4998.707179
min         0.000000       0.000000       0.000000
25%        13.000000      13.000000      13.000000
50%        62.000000      64.000000      66.000000
75%       277.000000     282.000000     288.000000
max    213348.000000  213699.000000  214070.000000

In [95]:
print(len(df_hospital['COUNTY_NAME'].unique()))
print(len(df_social_mobility['CTNAME'].unique()))
print(len(df_COVID19['Admin2'].unique()))

1556
1877
1901

In [58]:
county_list = df_hospital["COUNTY_NAME"].unique()
np.any([type(i) == float for i in county_list])
check = [type(i) == float for i in county_list]
for i in range(len(check)):
    if check[i] == True:
        print(i)
        print(county_list[i])
print(county_list[1410:1420])
#len(county_list)

1414
nan
['Sweetwater' 'Uinta' 'Washakie' 'Weston' nan 'Aguadilla' 'Aibonito'
 'Arecibo' 'Bayamon' 'Caguas']

In [14]:
df_social_mobility = pd.read_csv('/Users/jessie/Desktop/summer_project/social_mobility_data(up_to_date)/County.csv')

In [15]:
df_social_mobility.head()

,CTFIPS,CTNAME,STFIPS,Social distancing index,% staying home,Trips/person,% out-of-county trips,% out-of-state trips,Miles/person,Work trips/person,...,#days: decreasing COVID cases rank,#days: decreasing ILI cases rank,Testing capacity rank,% ICU utilization rank,% hospital bed utilization rank,Ventilator shortage rank,Unemployment rate rank,% working from home rank,% change in consumption rank,COVID death rate rank
0,1001,Autauga County,1,54,27,2.25,38.8,1.2,24.7,0.25,...,50,50,50,50,50,50,10,94,65,50
1,1001,Autauga County,1,25,18,2.83,43.5,0.9,37.6,0.62,...,50,50,50,50,50,50,10,94,96,50
2,1001,Autauga County,1,15,15,3.18,42.2,1.0,40.3,0.62,...,50,50,50,50,50,50,10,94,81,50
3,1001,Autauga County,1,33,20,2.85,43.9,1.2,29.5,0.33,...,50,50,50,50,50,50,10,94,55,50
4,1001,Autauga County,1,40,22,2.56,42.8,1.2,30.9,0.23,...,50,50,50,50,50,50,10,94,20,50

In [22]:
df_social_mobility.iloc[0]

CTFIPS                                                  1001
CTNAME                                        Autauga County
STFIPS                                                     1
Social distancing index                                   54
% staying home                                            27
Trips/person                                            2.25
% out-of-county trips                                   38.8
% out-of-state trips                                     1.2
Miles/person                                            24.7
Work trips/person                                       0.25
Non-work trips/person                                      2
New COVID cases                                            0
Population                                             55601
% change in consumption                                -22.5
date                                              01/01/2020
Transit mode share                                      0.11
% people older than 60                                    19
Median income                                          58786
% African Americans                                       19
% Hispanic Americans                                     2.8
% Male                                                 48.68
Population density                                        91
Employment density                                        19
# hot spots/1000 people                                  101
Hospital beds/1000 people                               3.79
ICUs/1000 people                                        0.33
# contact tracing workers/1000 people                  0.025
# contact tracing workers/1000 people rank                39
% people older than 60 rank                               12
COVID exposure/1000 people                                 0
#days: decreasing ILI cases                                0
Unemployment claims/1000 people                          0.9
Unemployment rate                                        2.7
% working from home                                      3.2
Cumulative inflation rate                                0.3
COVID death rate                                           0
New cases/1000 people                                      0
Active cases/1000 people                                   0
#days: decreasing COVID cases                              0
% hospital bed utilization                              47.1
Testing capacity                                           0
Tests done/1000 people                                     0
% ICU utilization                                          0
Ventilator shortage                                        0
Imported COVID cases                                       0
Social distancing index rank                              24
% out-of-county trips rank                                70
% out-of-state trips rank                                 26
New cases/1000 people rank                                50
Imported COVID cases rank                                 50
#days: decreasing COVID cases rank                        50
#days: decreasing ILI cases rank                          50
Testing capacity rank                                     50
% ICU utilization rank                                    50
% hospital bed utilization rank                           50
Ventilator shortage rank                                  50
Unemployment rate rank                                    10
% working from home rank                                  94
% change in consumption rank                              65
COVID death rate rank                                     50
Name: 0, dtype: object

In [27]:
df_social_mobility.isnull().sum()

CTFIPS                                             0
CTNAME                                             0
STFIPS                                             0
Social distancing index                            0
% staying home                                     0
Trips/person                                       0
% out-of-county trips                              0
% out-of-state trips                               0
Miles/person                                       0
Work trips/person                                  0
Non-work trips/person                              0
New COVID cases                                    0
Population                                         0
% change in consumption                            0
date                                               0
Transit mode share                                 0
% people older than 60                             0
Median income                                      0
% African Americans                                0
% Hispanic Americans                               0
% Male                                             0
Population density                                 0
Employment density                                 0
# hot spots/1000 people                            0
Hospital beds/1000 people                          0
ICUs/1000 people                                   0
# contact tracing workers/1000 people         173372
# contact tracing workers/1000 people rank    173372
% people older than 60 rank                        0
COVID exposure/1000 people                         0
#days: decreasing ILI cases                        0
Unemployment claims/1000 people                    0
Unemployment rate                                  0
% working from home                                0
Cumulative inflation rate                          0
COVID death rate                                   0
New cases/1000 people                              0
Active cases/1000 people                           0
#days: decreasing COVID cases                      0
% hospital bed utilization                         0
Testing capacity                                   0
Tests done/1000 people                             0
% ICU utilization                                  0
Ventilator shortage                                0
Imported COVID cases                               0
Social distancing index rank                       0
% out-of-county trips rank                         0
% out-of-state trips rank                          0
New cases/1000 people rank                         0
Imported COVID cases rank                          0
#days: decreasing COVID cases rank                 0
#days: decreasing ILI cases rank                   0
Testing capacity rank                              0
% ICU utilization rank                             0
% hospital bed utilization rank                    0
Ventilator shortage rank                           0
Unemployment rate rank                             0
% working from home rank                           0
% change in consumption rank                       0
COVID death rate rank                              0
dtype: int64

In [37]:
len(df_social_mobility['CTNAME'].unique())
type(df_social_mobility['CTNAME'].unique())
print(df_social_mobility['CTNAME'].unique())

['Autauga County' 'Baldwin County' 'Barbour County' ... 'Uinta County'
 'Washakie County' 'Weston County']

In [36]:
np.intersect1d(df_hospital['COUNTY_NAME'].unique(), df_social_mobility['CTNAME'].unique())

TypeError: '<' not supported between instances of 'builtin_function_or_method' and 'bytes'

In [59]:
pwd

'/Users/jessie'

In [60]:
cd Desktop/summer_project/

/Users/jessie/Desktop/summer_project

In [62]:
cd '/Users/jessie/Documents/GitHub/'

/Users/jessie/Documents/GitHub

In [63]:
ls

COVID-19/            cse154_pa3_face_rec/ flickr30k_entities/
cse154_pa2/          cse154_rnn/

In [64]:
cd COVID-19

/Users/jessie/Documents/GitHub/COVID-19

In [65]:
ls

README.md                       csse_covid_19_data/
archived_data/                  who_covid_19_situation_reports/

In [67]:
cd csse_covid_19_data/

/Users/jessie/Documents/GitHub/COVID-19/csse_covid_19_data

In [68]:
ls

README.md                       csse_covid_19_daily_reports_us/
UID_ISO_FIPS_LookUp_Table.csv   csse_covid_19_time_series/
csse_covid_19_daily_reports/

In [69]:
cd  csse_covid_19_time_series

/Users/jessie/Documents/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series

In [70]:
ls

Errata.csv
README.md
time_series_covid19_confirmed_US.csv
time_series_covid19_confirmed_global.csv
time_series_covid19_deaths_US.csv
time_series_covid19_deaths_global.csv
time_series_covid19_recovered_global.csv